# 2.1 Strings Are Immutable

Strings are immutable...

One advantage of immutable types:

- Strings can be used as a key for a dictionary
- Their usage is optimized internally. ex. Tuples are somewhat more efficient than using lists.

A limitation is that data cannot be changed in place

In [2]:
my_str = 'hello, Dave, this is Hal.'
my_str[0] = 'H'  #This causes an error since strings are immutable

TypeError: 'str' object does not support item assignment

In [4]:
my_str = 'hello'
my_str = 'Hello' # This is valid as an entire new string is created

# 2.2 Numeric Conversions, Including Binary

Type names in Python implicitly invoke type conversions wherever such conversions are supported.

```
type(data_object)
```

s = '45'
n = int(s)
x = float(s)

print('n = ', n, type(n))
print('x = ', x, type(x))

If the appropriate conversion does not exist, Python raises a `ValueError` exception

The **int** conversion, unlike most conversions, takes an optional second argument. This argument enables you to convert a string to anumber while interpreting it in a different radix, such as binary.

In [12]:
n = int('10001', 2) # 10001 = 17 in decimal
print(n)

17

Converting a number to a string enables you to do operations such as counting the number of printable digits or counting the number of times a specific digit occurs. For example, the following statements print the length of the number 10007.

In [13]:
n = 1007
s = str(n) # convert to '1007'
print('The length of', n, 'is', len(s), 'digits.')

The length of 1007 is 4 digits.

# 2.3 - String Operators (+, =, *, >, etc.)

dog1_str = 'Rover'
dog2_str = dog1_str

dog1_str == dog2_str #True
dog1_str == 'Rover' #True

You can use **lower()** and **upper()** methods to convert to lower or upper case.

However, if you are working with strings that user wider Unicode character set, the safest way to do case-insensitive comparisons is to use the **casefold()** method...

In [9]:
'DOG'.casefold()

'dog'

In [12]:
'DOG'.lower() == 'DOG'.casefold()

True

In [13]:
str1 = 'dog'
str2 = 'elephant'

In [16]:
str1 > str2 # returns false since str1 does not have more characters than str2

False

In [15]:
str1 < str2 # returns true since str1 has less characters than str2

True

In [19]:
str1 * 5 # Multiplication...

'dogdogdogdogdog'

Careful when using **is** and **is not** operators. These operators test for whether or not two values are *the same object in memory*.

In [28]:
str1 = 'dog'
str2 = 'dog'

print('str1 is str2:', str1 is str2) # this is only true due since python pointing both var names to the same object in memory

str1 is str2: True

# 2.4 Indexing and Slicing

Indexing: Users a number to refer to an individual character, according to its place within the string

Slicing: Is an ability more unique to Python. It enables you to refer to an entire substring of characters by using a compact syntax

In [63]:
'King Me!'[0] # Indexing the first character

'K'

In [41]:
'King Me!'[0:4] #Slicing 'King'

'King'

In [96]:
'King Me!'[5:8] #Slicing 'Me!' | Notice that there is not an 8th index but python permits this anyhow. This is because python does not raise an exception for out of range indexes for strings.

'Me!'

In [60]:
'King Me!'[:4] # Slicing everything before index 4

'King'

In [62]:
'King Me!'[4:] # Slicing everything after index 3

' Me!'

The best way to think of it is this:
[Everything after this index, including this index:Up to this index but bot included]

In [81]:
'0123456789'[1::2] # Get every other character

'13579'

In [85]:
'0123456789'[1:10:2] # Get every other character

'13579'

In [93]:
'0123456789'[::3] # Get every third character

'0369'

In [92]:
 'Wow Bob wow!'[::-1] #reverses string

'!wow boB woW'

# 2.5 Single-Character Functions (Character Codes)

**ord(str)** - Returns a numeric code

**chr(n)** - Converts ASCII/Unicode rto a one-char str

In [8]:
ord('a')

97

In [9]:
chr(97)

'a'

# 2.6 Building Strings Using "join"

The folowing creates entirely new strings in memoryu, over and over again


```
a_str = 'Big'
a_str += ' Bad'
a_str += ' John'
print(a_str) # prints 'Big Bad John'
```

An alternative, which is slightly better, is to use the **join** method.

```
separator_string.join(list)
```

This method joins together all the strings in list to form one large string. If this list has more than one element, the text of separator_string is placed between  each consecutive pair of strings. An empty list is a valid separator string; in that case, all the string in the list are simply joined together.

The use of **join** is usually more efficient at run time than concatenation, although you probably won't see the difference in execution time unless there are a great many elements.

In [18]:
n = ord('A')
a_lst = []
for i in range(n, n + 26):
    a_lst.append(chr(i))
    

print("a_lst before join: ", a_lst)

s = ''.join(a_lst)
print("a_lst after join: ", s)

a_lst before join:  ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
a_lst after join:  ABCDEFGHIJKLMNOPQRSTUVWXYZ

Using .join can also mean less code depending on the task...

In [21]:
def print_nice(a_lst):
    s = ''
    for item in a_lst:
        s += item + ', '
    if len(s) > 0:
        s = s[:-2]
    print(s)

print_nice(['john', 'paul', 'george', 'ringo'])

john, paul, george, ringo

In [22]:
print(', '.join(['john', 'paul', 'george', 'ringo']))

john, paul, george, ringo

# 2.7 Important String Functions

Many of the functions described in this chapter are actually **methods**: members functions of the class that are called with the dot syntax.

Python has some important built-in functions that are implemented for use with the fundemental types of the language. 

The ones listed here apply especially to strings.

```
input(prompt_str) # Prompt user for input string and return string from user
len(str)          # Return num. of chars in str.
max(str)          # Return char with highest code val
min(str)          # Return char with lowest code val
reversed(str)     # return iter with reversed str.
sorted(str)       # return list with sorted str
```

In [3]:
str = 'This is a string'

In [4]:
input(str)

This is a stringtest

'test'

In [5]:
len(str)

16

In [6]:
max(str)

't'

In [7]:
min(str)

' '

In [15]:
''.join(reversed(str))

'gnirts a si sihT'

In [17]:
sorted_str = sorted(str)
print(sorted_str)

[' ', ' ', ' ', 'T', 'a', 'g', 'h', 'i', 'i', 'i', 'n', 'r', 's', 's', 's', 't']

In [19]:
# In this case, the string  is sorted by the char value.

for char in sorted_str:
    print(ord(char))

32
32
32
84
97
103
104
105
105
105
110
114
115
115
115
116

# 2.8 Binary, Hex, and Octal Conversion Functions

In [20]:
bin(15) # Decimal -> Binary

'0b1111'

In [24]:
hex(15) # Decimal -> Hexadecimal

'0xf'

In [25]:
oct(15) # Decimal -> Octal

'0o17'

These three functions automatically use the prefixes "0b", "0o", and "0x"

# 2.9 Eimple Boolean ("is") Methods

All of these methods begin with the word "is" in their name. Return either True or False. They are often used with single-character strings.

| Method Name/Syntax             | Returns True if |
| :---               |    :----:   |
| str.isalnum()      | All Characters are alphanumeric (a letter or digit) and there is at least one char|
| str.isalpha()      | All characters are letters of the alphabet and there is at least one char     |
| str.isdecimal()    |  All characters are decimal digits and there is at least one char |
| str.isdigit()      | All characters are decimal digits and there is at least one character |
| str.isidentifier()      | The string contains a valid python identifier (symbolic) name. The first character must be a letter or underscore |
| str.islower()      | All the letters in the string are lowercase, and there is at least one letter|
| str.isprintable()  | All characters in the string, if any, are printable characters. This excludes special characters such as \n and \t |
| str.isspace()      | All characters in the string are whitespace characters, and there is at least one |
| str.istitle()      | Everyword in the string is a valid title, and there is at least one character. (Each word must be capitilized)|
| str.issuper()      | All letters in the string uppercase, and  there is at least one letter. |

In [27]:
'asdf'.isalpha()

True

In [29]:
'2'.isdecimal()

True

In [31]:
'1'.isdigit()

True

In [32]:
'asdf'.islower()

True

In [33]:
'This Is True'.istitle()

True

# 2.10 Case Conversion Methods